page-immobilize{
    // ion-modal.my-popup {
    //     @media (min-width: 300px) and (min-height: 500px) {
    //       ion-backdrop {
    //         visibility: visible;
    //       }
    //     }
      
    //     .modal-wrapper {
    //       position: absolute;
    //       overflow: hidden;
    //       max-width: 280px;
    //       border-radius: 2px;
    //       width: 80vw;
    //       height: 50vh;
    //       top: 0;
    //       bottom: 0;
    //       left: 0;
    //       right: 0;
    //       margin: auto;
    //       border: 0;
    //       box-shadow: 0 16px 20px rgba(0,0,0,.4);
    //       background-color: #fafafa;
    //     }
    //   }

    //   .guide-modal .modal{
    //     $modal-inset-min-width:0;
    //     $modal-inset-min-height-small:0;
    //     display: flex;
    //     height: auto;
    // }

    // modal {
        background-color: rgba(0, 0, 0, 0.5);
        ion-content.content{
            top: 25%;
            left: 10%;
    
            width: 80%;
            height: 40%;
            border-radius: 20px;
            .scroll-content {
                border-radius: 20px;
            }
        }
    // }

    .close-button {
        position: absolute;
        
        /* don't need to go crazy with z-index here, just sits over .modal-guts */
        z-index: 1;
        
        top: 0px;
        
        /* needs to look OK with or without scrollbar */
        right: 0;
        border: 0;
        // background: black;
        // color: white;
        // padding: 5px 10px;
        padding: 5px 2px;
        font-size: 3rem;
      }
}